/*HARMONIC OSCILLATOR'S EXTREMELY CONCENTRIC CSS DOCUMENT*/
/*ANZOL*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

/*BASICS*/

html {overscroll-behavior: none;} /*exceptionally cursed*/

body {
  background-color: #000;
  color: #AA3090;
  font: 16px Garamond, 'EB Garamond', serif;
}

#site-container {}

::selection {background-color: none; color: #9999FF;}
.hard-noselect {pointer-events: none;}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.flex-container-absolute {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

.flex-container-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  max-width: 80%;
  gap: 10px;
}

/*KEY SECTIONS*/

.page-header {
  flex: 0 1 auto;
  border-bottom: 1px solid #222;
  padding: 0 0 0.5rem;
  width: 100%;
  text-align: center;
}
.page-main {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  min-height: 100%;
  text-align: center;
}
.page-footer {
  flex: 0 1 auto;
  border-top: 1px solid #222;
  width: 100%;
  color: #501545;
  text-align: center;
  text-transform: uppercase;
}

/*PAGE-HEADER CONTENT*/

.nav-top {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0 0.5rem;
  width: 100%;
}

.subnav-top {
  display: flex;
  flex: 0 2 300px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 1px hidden #111;
  height: 100px;
}

.flex-justify-start {justify-content: flex-start;}
.flex-justify-end {justify-content: flex-end;}
.flex-justify-end button:last-of-type {margin-right: 2rem;}

.subnav-top button {
  margin: 1rem;
  padding: 0;
  border: none;
  width: 50px;
  height: 50px;
  background: none;
  color: #AA3090;
}
/*ANZOL, THE INTREPID DINGUS, ATTEMPTS TO USE CSS SELECTORS FOR THE FIRST TIME*/
.subnav-top button:hover svg > * {stroke: #600040;}
.subnav-top button:active svg > * {stroke: #FFF;}
.subnav-top button:active .deactivated svg > * {stroke: #222;}

.subnav-secrets {height: auto;}

.urgent h1 {font-size: 64px; margin: 0;}
.urgent h2 {color: #000; font-size: 16px; margin: 0;}

#logo {}
#logo-link {
  font-size: 100px;
  border: none;
  text-decoration: none;
}

.logo-container{
  display: flex;
  flex: 0 0 auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 1px hidden #222;
  width: 128px;
  height: 128px;
  animation: fade-in 1s ease-in;
  -webkit-animation: fade-in 1s ease-in; /* Safari */
}

.fade-in {animation: fade-in 1.5s ease-in; -webkit-animation: fade-in 1.5s ease-in;}


.logo-container:hover {filter: hue-rotate(-90deg);}
.logo-container:active {
  animation: logo-hue-rotator 0.75s ease-in infinite alternate;
  -webkit-animation: logo-hue-rotator 0.75s ease-in infinite alternate;
}

@keyframes fade-in {0% {opacity: 0%;} 100% {opacity: 100%;}}
@keyframes logo-hue-rotator {from {filter: hue-rotate(0deg);} to {filter: hue-rotate(320deg);}}
@-webkit-keyframes fade-in {0% {opacity: 0%;} 100% {opacity: 100%;}}
@-webkit-keyframes logo-hue-rotator {from {filter: hue-rotate(0deg);} to {filter: hue-rotate(320deg);}}

/*PAGE-MAIN CONTENT*/

.main-block-L {
  display: block;
  flex: 0 0 300px;
  border: 1px solid #000;
  border-right: 1px solid #222;
  transition: flex 0.1s linear;
}
.main-block-R {
  display: block;
  flex: 0 0 300px;
  transition: flex 0.2s linear;
}
.main-block-M {
  display: flex;
  position: relative;
  flex: 2 1 auto;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 3rem;
  max-height: 100%;
  overflow-y: hidden; /*cursed?*/
  text-align: justify; 
}

.main-block-M figure {text-align: center; margin: 0; width: 80%;}
.main-block-M figure img {border: 1px solid #AA3090;}
.main-block-M figure figcaption {height: 2rem; margin: -2em 0 0; font-variant: small-caps;}
.main-block-M figcaption span {background-color: #000000CC; color: #AA3090; padding: 2px 5px;}
.main-block-M address {margin: 1rem 0;}
.main-block-M h1 {font-size: 2rem; text-align: center;}
.main-block-M h2 {font-size: 1.5rem;}
.main-block-M p {
  font: 16pt Garamond, 'EB Garamond', serif;
  width: 80%;
  text-align-last: center;
}

.main-block-M .monospace {font: 14pt "Courier New", Courier, monospace;}

.margin-fix {margin: 0;}
.border-fix {/*border-left: 1px solid #222;*/}

.log-list {
  margin: 1rem;
  padding: 1rem 1rem 0;
  width: calc(80% - 2rem);
  border: 1px solid #222;
}
.log-list li {list-style: none; margin: 0 0 1rem;}
.log-list a {
  display: inline;
  padding: 0 0.25rem;
  border: 1px solid #AA3090;
  font-size: 1.25rem;
  text-decoration: none;
}
.log-list a:link {color: #AA3090; border-color: #AA3090;}
.log-list a:visited {color: #AA3090; border-color: #AA3090;}
.log-list a:hover {color: #3DCC66; border-color: #3DCC66;}
.log-list a:active {color: #FFF; border-color: #FFF;}

.bordered {border: 1px solid #000;}

.strong {animation: colorPulse 1s ease-in alternate infinite; -webkit-animation: colorPulse 1s ease-in alternate infinite;}
.secret {animation: colorPulse2 1s ease-in alternate infinite; -webkit-animation: colorPulse2 1s ease-in alternate infinite;}
.secret:hover {animation: none; -webkit-animation: none;}
.secret:active {animation: none; -webkit-animation: none;}

@keyframes colorPulse {from {color: #AA3090;} to {color: #FFF;}}
@keyframes colorPulse2 {from {color: #AA3090;} to {color: #9999FF;}}
@keyframes -webkit-colorPulse {from {color: #AA3090;} to {color: #FFF;}}
@keyframes -webkit-colorPulse2 {from {color: #AA3090;} to {color: #9999FF;}}

.socials:hover polygon {fill: #3DCC66;}
.socials:active polygon {fill: #FFF;}
.socials {text-decoration: underline 1px;}
.socials:link {color: #AA3090;}
.socials:visited {color: #AA3090;}
.socials:hover {color: #3DCC66;}
.socials:active {color: #FFF;}

.nav-side {
  cursor: pointer;
  border-top: none;
  width: 100%;
  font-size: 1.5rem;
  font-variant: small-caps;
}
#nav-side-L {}
#nav-side-R {}
#nav-side-ul {}

.nav-side ul {margin: 0; padding: 0;}
.nav-side li {list-style: none;}

.li-dashed {border-bottom: 1px dashed #222;}
.li-small {font-size: 1rem;}


.nav-side details li:last-child {border-bottom: 1px solid #222;}

.nav-side summary {border-bottom: 1px solid #222; padding: 0.5rem 0;}
.nav-side summary:hover {filter: hue-rotate(-90deg);}
.nav-side summary:active {animation: logo-hue-rotator 0.75s ease-in infinite alternate; -webkit-animation: logo-hue-rotator 0.75s ease-in infinite alternate;}

.nav-side li > a {display: block; padding: 0.5rem 0;}

.nav-side a {text-decoration: none;}
.nav-side a:link {color: #AA3090;}
.nav-side a:visited {color: #AA3090;}
.nav-side a:hover {color: #3DCC66;}
.nav-side a:active {color: #FFF;}

#secrets-button {border: none; margin: 1rem;}
/*ABSOLUTE SELECTOR CHAOS*/
.li-esoteric {border-top: 1px solid #222; border-bottom: 1px dashed #222;}
.li-esoteric ~ .li-esoteric {border-top: none;}
.li-esoteric:last-of-type {border-bottom: 1px solid #222;}


/*PAGE-FOOTER CONTENT*/

#noscript-img-L {position: absolute; left: 0;}
#noscript-img-R {position: absolute; right: 0;}

/*HARMONIC OSCILLATOR SPLASH SCREEN*/

.splash-div {
  display: flex;
  position: relative;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #AA3090;
  max-width: 960px;
  font-variant: small-caps;
  padding: 0;
  margin: 2%;
  overflow: hidden;
}

/*ANZOL'S SELECTOR JOURNEY CONTINUES...*/
.splash-div h1, .splash-div h2 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  background-color: #000;
  display: block;
  width: 100%;
  z-index: 2;
  height: 4rem;
}

.osc-crows {
  position: absolute;
  bottom: 4rem;
  border-bottom: 1px solid #AA3090;
  max-width: 60%;
  max-height: 60%;
}

#timelapse {
  max-width: 100%;
  border-top: 1px solid #AA3090;
  border-bottom: 1px solid #AA3090;
}

#crow-1 {left: 21%;}
#crow-2 {left: -7%;}
#crow-3 {right: -4%;}

/*DICE*/

.dice {
  margin: 1em 0;
  padding: 0;
  background: none;
  border: none;
}

.dice:hover rect {stroke: #600040;}
.dice:hover circle {stroke: #600040;}
.dice:active rect {stroke: #FFF;}
.dice:active circle {stroke: #FFF;}

.dice-static rect {animation: colorPulse3 1s ease-in 1; -webkit-animation: colorPulse3 1s ease-in 1;}
.dice-static circle {animation: colorPulse3 4s ease-in 1; -webkit-animation: colorPulse3 4s ease-in 1;}
.dice-static:hover circle {stroke: #AA3090;}
.dice-static:hover rect {stroke: #AA3090;}
.dice-static:active rect {stroke: #AA3090;}
.dice-static:active circle {stroke: #AA3090;}

#dice-table {
  display: flex;
  position: relative;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

#dice-table rect {animation: none; -webkit-animation: none;}
#dice-table circle {animation: none; -webkit-animation: none;}


@keyframes colorPulse3 {from {stroke: #000;} to {stroke: #AA3090;}}
@keyframes -webkit-colorPulse3 {from {stroke: #000;} to {stroke: #AA3090;}}

/*cursed js workaround*/
@keyframes diceFailureA {from {stroke: #FF0000; fill: #FF0000;} to {stroke: #AA3090; fill: #000;}}
@keyframes diceFailureB {from {stroke: #000; fill: #000;} to {stroke: #AA3090; fill: #000;}}
@keyframes diceFailureC {from {stroke: #FF0000; fill: #FF0000;} to {stroke: #AA3090; fill: #000;}}
@keyframes diceFailureD {from {stroke: #000; fill: #000;} to {stroke: #AA3090; fill: #000;}}

@keyframes diceSuccessA {from {stroke: #9999FF; fill: #9999FF;} to {stroke: #AA3090; fill: #000;}}
@keyframes diceSuccessB {from {stroke: #000; fill: #000;} to {stroke: #AA3090; fill: #000;}}
@keyframes diceSuccessC {from {stroke: #9999FF; fill: #9999FF;} to {stroke: #AA3090; fill: #000;}}
@keyframes diceSuccessD {from {stroke: #000; fill: #000;} to {stroke: #AA3090; fill: #000;}}

@keyframes -webkit-diceFailureA {from {stroke: #FF0000; fill: #FF0000;} to {stroke: #AA3090; fill: #000;}}
@keyframes -webkit-diceFailureB {from {stroke: #000; fill: #000;} to {stroke: #AA3090; fill: #000;}}
@keyframes -webkit-diceFailureC {from {stroke: #FF0000; fill: #FF0000;} to {stroke: #AA3090; fill: #000;}}
@keyframes -webkit-diceFailureD {from {stroke: #000; fill: #000;} to {stroke: #AA3090; fill: #000;}}

@keyframes -webkit-diceSuccessA {from {stroke: #9999FF; fill: #9999FF;} to {stroke: #AA3090; fill: #000;}}
@keyframes -webkit-diceSuccessB {from {stroke: #000; fill: #000;} to {stroke: #AA3090; fill: #000;}}
@keyframes -webkit-diceSuccessC {from {stroke: #9999FF; fill: #9999FF;} to {stroke: #AA3090; fill: #000;}}
@keyframes -webkit-diceSuccessD {from {stroke: #000; fill: #000;} to {stroke: #AA3090; fill: #000;}}

/*SECRETS*/

#secrets-window {
  display: none;
  position: fixed;
  top: calc(50% - 150px);
  left: calc(50% - 200px);
  z-index: 10;
  border: 1px solid #AA3090;
  width: 400px;
  height: 300px;
  background-color: #000;
  color: #AA3090;
  box-shadow: 0px 20px 40px 10px #000;
  animation: popup 0.2s ease-in-out;
  -webkit-animation: popup 0.2s ease-in-out;
  font-size: 1.5rem;
  font-variant: small-caps;
}
#secrets-window-x {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  z-index: 11;
  background-color: #000;
  margin: 0;
  border: 1px solid #AA3090;
  color: #AA3090;
  font: 20px Garamond, 'EB Garamond', serif;
}

#secrets-window-x:hover {color: #800060; border-color: #800060;}
#secrets-window-x:active {color: #FFF; border-color: #FFF;}

@keyframes popup {from {margin-top: 0.625rem; opacity: 0%;} to {margin-top: 0; opacity: 100%;}}
@-webkit-keyframes popup {from {margin-top: 0.625rem; opacity: 0%;} to {margin-top: 0; opacity: 100%;}}

#spam-buza {
 position: fixed;
 bottom: 0;
}

/* !*HARMONIC OSCILLATOR CLASSIC SVG TALISMANS*! */

.talisman-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.talisman {
  background: none;
  border: none;
  color: #AA3090;
  margin: 0;
  padding: 0;
}

#talisman-locked {display: flex;}

#talisman-unlocked {
  display: none;
  flex: 0 2 300px;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.osc-sticker {
  width: 100px;
  height: 70px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #AA3090;
}
.osc-sticker h1 {
  height: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font: 0.5rem Source Code Pro;
  border-bottom: 1px solid #AA3090;
}
.osc-sticker h2 {
  height: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font: small-caps 0.5rem Source Code Pro;
  border-top: 1px solid #AA3090;
}
.osc-sticker div {height: 50px;}

.osc-sticker-wide {
  display: block;
  width: 300px;
  height: 70px;
  margin: 0 auto;
  border: 1px solid #AA3090;
}
.osc-sticker-wide h1 {
  height: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font: 0.5rem Source Code Pro;
  border-bottom: 1px solid #AA3090;
}
.osc-sticker-wide h2 {
  height: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font: small-caps 0.5rem Source Code Pro;
  border-top: 1px solid #AA3090;
}
.osc-sticker-wide div {height: 50px;}

.talisman:hover {color: #800060;}
.talisman:hover path {stroke: #400020;}
.talisman:hover .osc-sticker {border: 1px solid #600040;}
.talisman:hover .osc-sticker h1 {color: #800060; border-bottom: 1px solid #600040;}
.talisman:hover .osc-sticker h2 {color: #800060; border-top: 1px solid #600040;}
.talisman:hover .osc-sticker-wide {border: 1px solid #600040;}
.talisman:hover .osc-sticker-wide h1 {color: #800060; border-bottom: 1px solid #600040;}
.talisman:hover .osc-sticker-wide h2 {color: #800060; border-top: 1px solid #600040;}
.talisman:hover .rings circle {stroke: #400020; fill: none;}
.talisman:hover #birds-osc circle {fill: #180008;} /*ANZOL, AN IDIOT, DOES NOT KNOW HOW TO USE CSS SELECTORS*/
.talisman:hover #birds-osc-wide circle {fill: #180008;}
.talisman:active {color: #FFF;}
.talisman:active path {stroke: #FFF;}
.talisman:active .osc-sticker {border: 1px solid #CCC;}
.talisman:active .osc-sticker h1 {color: #FFF; border-bottom: 1px solid #CCC;}
.talisman:active .osc-sticker h2 {color: #FFF; border-top: 1px solid #CCC;}
.talisman:active .osc-sticker-wide {border: 1px solid #CCC;}
.talisman:active .osc-sticker-wide h1 {color: #FFF; border-bottom: 1px solid #CCC;}
.talisman:active .osc-sticker-wide h2 {color: #FFF; border-top: 1px solid #CCC;}
.talisman:active .rings circle {stroke: #FFF; fill: none;}
.talisman:active #birds-osc circle {fill: #222;}
.talisman:active #birds-osc-wide circle {fill: #222;}

/*LOADING SCREEN CSS*/

.loading-screen {
  opacity: 0%;
  background-color: #000;
  animation: fake-load 4s;
  -webkit-animation: fake-load 4s;
}

.spinner-container {
  flex: 0 1 auto;
  opacity: 0%;
  animation: fake-load 2.5s;
  -webkit-animation: fake-load 2.5s;
}

#spinner {
  border: 2px solid #000;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: loader-spin 1s ease-in-out infinite alternate;
  -webkit-animation: loader-spin 1s ease-in-out infinite alternate; /* SAFARI? */
}

@keyframes fake-load {
  0% {opacity: 100%;}
  50% {opacity: 100%;}
  100% {opacity: 0%;}
}
@-webkit-keyframes fake-load {
  0% {opacity: 100%;}
  50% {opacity: 100%;}
  100% {opacity: 0%;}
}
@keyframes loader-spin {
  0% { transform: rotate(0deg);  }
  50% { border-top: 16px solid #AA3090; }
  100% { transform: rotate(360deg); }
}
@-webkit-keyframes loader-spin {
  0% { transform: rotate(0deg);  }
  50% { border-top: 16px solid #AA3090; }
  100% { transform: rotate(360deg); }
}