/*HARMONIC OSCILLATOR DEFAULT CSS*/
/*MNO*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

body {
  background-color: #000;
  color: #AA3090;
  font: 16px Garamond, 'EB Garamond', serif;
  overflow-x: hidden; /*cursed*/
  image-rendering: -webkit-optimize-contrast; /*very cursed*/
}

::selection {background-color: none; color: #FFAAEE;}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hard-noselect {pointer-events: none;} /*cursed*/

.site-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.main-nav {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0.25rem 0 0;
  background: linear-gradient(180deg, rgba(0, 102, 255, 0.2), rgba(0, 0, 255, 0.1) 50%, rgba(0, 0, 255, 0));
  z-index: 2;
}

.main-nav ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 2%;
}

.main-nav li {flex: 0 1 auto;}

#logo {width: 4rem; height: 4rem;}

.nav-logo {}
.nav-logo:hover {animation: logo-hue-rotator 1.5s ease-in infinite alternate;}
.nav-logo:active {animation: logo-hue-rotator 1s ease-in infinite alternate;}

@keyframes logo-hue-rotator {
  from {filter: hue-rotate(0deg);}
  to {filter: hue-rotate(320deg);}
}

.nav-icon {
  background: none;
  border: 1px solid #AA3090;
  margin: 0;
  padding: 0;
}

.nav-icon:hover {border: 1px solid #600040;}
.nav-icon:active {border: 1px solid #CCC;}
.nav-icon:hover polygon {stroke: #600040;}
.nav-icon:active polygon {stroke: #FFF;}
.nav-icon:hover path {stroke: #600040;}
.nav-icon:active path {stroke: #FFF;}
.nav-icon:hover circle {stroke: #600040;}
.nav-icon:active circle {stroke: #FFF; fill: #FFF; animation: doom 0.25s ease-in 1.666s infinite alternate}

.nav-icon-standard {display: initial;}
.nav-icon-mobile {display: none;}

.justify-start {margin-right: auto; padding-left: 2%;}
.justify-end {margin-left: auto; padding-right: 2%;}

#left {border: none;}
#right {border: none;}

#menu {
  width: 30px;
  height: 30px;
}

#eye {
  width: 30px;
  height: 30px;
  border: none;
  align-self: center;
}

@keyframes doom {
  from {stroke: #FFF; fill: #FF;}
  to {stroke: #FF0000; fill: #FF0000;}
}

.splash-nav-flex {
  display: none;
  position: relative;
  width: 50%;
  min-width: 25em;
  max-width: 40em;
  margin: 0 auto;
  padding: 3% 0 0 0;
  transition: padding 0.5s linear;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  list-style-type: none;
  gap: 2%;
  animation: nav-appear 1s linear;
}

.side-page-nav-flex {
  display: none;
  position: relative;
  width: 95%;
  min-width: 0;
  min-height: 24em;
  margin: 5% auto 0;
  padding: 0;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  list-style-type: none;
  gap: 2%;
  animation: nav-appear 1s linear;
}

@keyframes nav-appear {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

.nav-flex-item {flex: 1 1 auto;}

.nav-flex-item a {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.osc-sticker {
  width: 100px;
  height: 70px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #AA3090;
}

.osc-sticker h1 {
  height: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font: 0.5rem Source Code Pro;
  border-bottom: 1px solid #AA3090;
}

.osc-sticker h2 {
  height: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font: small-caps 0.5rem Source Code Pro;
  border-top: 1px solid #AA3090;
}

.osc-sticker div {height: 50px;}

.osc-sticker-wide {
  display: none;
  width: 300px;
  height: 70px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  border: 1px solid #AA3090;
}

.osc-sticker-wide h1 {
  height: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font: 0.5rem Source Code Pro;
  border-bottom: 1px solid #AA3090;
}

.osc-sticker-wide h2 {
  height: 10px;
  margin: 0;
  padding: 0;
  text-align: center;
  font: small-caps 0.5rem Source Code Pro;
  border-top: 1px solid #AA3090;
}

.osc-sticker-wide div {height: 50px;}

.side-page-sticker {display: none;}
.side-page-sticker-wide {display: block;}

.nav-flex-item a:link {color: #AA3090;}

.nav-flex-item a:link .osc-sticker {border: 1px solid #AA3090;}
.nav-flex-item a:link .osc-sticker h1 {border-bottom: 1px solid #AA3090;}
.nav-flex-item a:link .osc-sticker h2 {border-top: 1px solid #AA3090;}
.nav-flex-item a:link .osc-sticker-wide {border: 1px solid #AA3090;}
.nav-flex-item a:link .osc-sticker-wide h1 {border-bottom: 1px solid #AA3090;}
.nav-flex-item a:link .osc-sticker-wide h2 {border-top: 1px solid #AA3090;}
.nav-flex-item a:link path {stroke: #AA3090;}

.nav-flex-item a:visited {color: #AA3090;}

.nav-flex-item a:visited .osc-sticker {border: 1px solid #AA3090;}
.nav-flex-item a:visited .osc-sticker h1 {color: #AA3090; border-bottom: 1px solid #AA3090;}
.nav-flex-item a:visited .osc-sticker h2 {color: #AA3090; border-top: 1px solid #AA3090;}
.nav-flex-item a:visited .osc-sticker-wide {border: 1px solid #AA3090;}
.nav-flex-item a:visited .osc-sticker-wide h1 {color: #AA3090; border-bottom: 1px solid #AA3090;}
.nav-flex-item a:visited .osc-sticker-wide h2 {color: #AA3090; border-top: 1px solid #AA3090;}
.nav-flex-item a:visited path {stroke: #AA3090;}

.nav-flex-item a:hover {color: #800060;}

.nav-flex-item a:hover .osc-sticker {border: 1px solid #600040;}
.nav-flex-item a:hover .osc-sticker h1 {color: #800060; border-bottom: 1px solid #600040;}
.nav-flex-item a:hover .osc-sticker h2 {color: #800060; border-top: 1px solid #600040;}
.nav-flex-item a:hover .osc-sticker-wide {border: 1px solid #600040;}
.nav-flex-item a:hover .osc-sticker-wide h1 {color: #800060; border-bottom: 1px solid #600040;}
.nav-flex-item a:hover .osc-sticker-wide h2 {color: #800060; border-top: 1px solid #600040;}
.nav-flex-item a:hover .rings circle {stroke: #400020; fill: none;}
.nav-flex-item a:hover path {stroke: #400020;}
.nav-flex-item a:hover circle {fill: #180008;}

.nav-flex-item a:active {color: #FFF;}

.nav-flex-item a:active .osc-sticker {border: 1px solid #CCC;}
.nav-flex-item a:active .osc-sticker h1 {color: #FFF; border-bottom: 1px solid #CCC;}
.nav-flex-item a:active .osc-sticker h2 {color: #FFF; border-top: 1px solid #CCC;}
.nav-flex-item a:active .osc-sticker-wide {border: 1px solid #CCC;}
.nav-flex-item a:active .osc-sticker-wide h1 {color: #FFF; border-bottom: 1px solid #CCC;}
.nav-flex-item a:active .osc-sticker-wide h2 {color: #FFF; border-top: 1px solid #CCC;}
.nav-flex-item a:active .rings circle {stroke: #FFF; fill: none;}
.nav-flex-item a:active path {stroke: #FFF;}
.nav-flex-item a:active circle {fill: #222;}

.flex-container-relative {
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2%;
}

.flex-container-absolute {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.splash-flex-standard {display: flex;}

.splash-flex-mobile {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
}

.flex-column {flex-flow: column nowrap;}

.flex-item {flex: 0 0 auto;}

.restricted {overflow: hidden;}

#splash-flex-img-1-standard {
  width: 50%;
  max-width: 540px;
  min-width: 405px;
  /*-webkit-mask-image: radial-gradient(ellipse 95% 90% at 50% 50%, black 50%, transparent 51%);*/
  /*mask-image: radial-gradient(ellipse 95% 90% at 50% 50%, black 50%, transparent 51%);*/
  z-index: 1;
}

#splash-flex-img-2-standard {
  position: absolute;
  /*left: 40vw;*/
  /*width: 50%;*/
  /*min-width: 405px;*/
  /*min-height: 405px;*/
  /*max-width: 540px;*/
  /*max-height: 540px;*/
  bottom: 15%;
  width: 540px;
  z-index: 2;
  image-rendering: high-quality;
}

#splash-flex-img-1-mobile {
  width: 100%;
  /*name | duration | timing-function | delay | iteration-count | direction | fill-mode | play-state*/
  /*none | 0s | ease | 0s | 1 | normal | none | running*/
  animation: appear 2s cubic-bezier(.81,.16,.47,.96);
}

#splash-flex-img-2-mobile {
  position: absolute;
  bottom: -5%;
  left: -5%;
  width: 200px;
  height: 200px;
  /*name | duration | timing-function | delay | iteration-count | direction | fill-mode | play-state*/
  /*none | 0s | ease | 0s | 1 | normal | none | running*/
  animation: appear 1s cubic-bezier(.81,.16,.47,.96);
}

@keyframes appear {
  from {opacity: 0%; margin: -5%;}
  to {opacity: 100%; margin: 0%;}
}

.text {
  padding: 0 10%;
  text-align: justify;
  text-align-last: center;
  line-height: 1.5em;
}

.wave {
  position: absolute;
  max-height: 50%;
}

#C1 {bottom: 20%; transform: rotate(-1.5deg);}
#C2 {bottom: 17%; transform: rotate(1.5deg); mix-blend-mode: color;}
#C9 {bottom: 24%; animation: C9anim 20s ease-in-out infinite alternate;}
#C10 {bottom: 21%; animation: C10anim 5s ease-in-out infinite alternate; mix-blend-mode: soft-light;}

#SUN {animation: rotator 3s infinite;}

@keyframes C9anim {
  from {transform: rotate(-1deg) translate(5em,0);}
  to {transform: rotate(-1deg) translate(-5em,0);}
}

@keyframes C10anim {
  from {transform: rotate(181deg) translate(5%,0);}
  to {transform: rotate(181deg) translate(-5%,0);}
}

@keyframes rotator {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.radial-container {
  flex: 0 1 auto;
  width: 750px;
  height: 750px;
  padding: 2em 0;
  transition: width 0.1s linear, height 0.8s linear;
}

.radial {position: absolute; transition: width 0.1s linear, height 0.8s linear;}

#R0 {animation: rotator 180s linear 0s infinite reverse, radial-hue-rotator-1 4s ease-in-out 0s infinite alternate;}
#R1 {animation: rotator 30s linear 0.1s infinite normal, radial-hue-rotator-1 4s ease-in-out 0.2s infinite alternate;}
#R2 {animation: rotator 25s linear 0.2s infinite reverse, radial-hue-rotator-1 4s ease-in-out 0.4s infinite alternate;}
#R3 {animation: rotator 20s linear 0.4s infinite normal, radial-hue-rotator-1 4s ease-in-out 0.6s infinite alternate;}
#R4 {animation: rotator 15s linear 0.6s infinite reverse, radial-hue-rotator-1 4s ease-in-out 0.8s infinite alternate;}
#R5 {animation: rotator 10s linear 0.8s infinite normal, radial-hue-rotator-1 4s ease-in-out 1s infinite alternate;}
#R6 {animation: rotator 5s linear 1s infinite reverse, radial-hue-rotator-1 4s ease-in-out 1.2s infinite alternate;}

/*#R {position: absolute; display: none; width: 250px; height: 350px;}*/

.radial-container:hover > #R0 {animation: rotator 180s linear 0s infinite reverse; filter: invert(1);}

.radial-container:active > img {mix-blend-mode: hard-light;}
.radial-container:active > #R0 {animation: rotator 5s linear 0s infinite reverse; filter: invert(0);}
.radial-container:active > #R1 {animation: rotator 15s linear 0.1s infinite normal, radial-hue-rotator-2 4s ease-in-out infinite alternate;}
.radial-container:active > #R2 {animation: rotator 12.5s linear 0.2s infinite reverse, radial-hue-rotator-2 4.2s ease-in-out infinite alternate;}
.radial-container:active > #R3 {animation: rotator 10s linear 0.4s infinite normal, radial-hue-rotator-2 4.4s ease-in-out infinite alternate;}
.radial-container:active > #R4 {animation: rotator 7.5s linear 0.6s infinite reverse, radial-hue-rotator-2 4.6s ease-in-out infinite alternate;}
.radial-container:active > #R5 {animation: rotator 5s linear 0.8s infinite normal, radial-hue-rotator-2 4.8s ease-in-out infinite alternate;}
.radial-container:active > #R6 {animation: rotator 2.5s linear 1s infinite reverse, radial-hue-rotator-2 5s ease-in-out infinite alternate;}


@keyframes radial-hue-rotator-1 {
  from {filter: hue-rotate(-10deg);}
  to {filter: hue-rotate(10deg);}
}

@keyframes radial-hue-rotator-2 {
  from {filter: hue-rotate(100deg);}
  to {filter: hue-rotate(-100deg);}
}

#bird-page-container {border: 1px solid #AA3090;}

#BIRDTEST {position: absolute;}

#page_02_panel_01_anim {
  position: absolute;
  top: 480px;
  left: 465px;
  width: 100px;
  height: 100px;
}

#page_02_panel_02_anim {
  position: absolute;
  top: 665px;
  left: 800px;
  width: 100px;
  height: 100px;
}

.graph-space-1 {
  flex: 0 0 auto;
  border: 1px solid #000051;
  width: 500px;
  height: 500px;
  margin: 1%;
}
   
.graph-space-2 {
  flex: 0 0 auto;
  border: 1px solid #000051;
  width: 50px;
  height: 50px;
  margin: 1%;
}

.illegal-rotation-1 {animation: bad-graphing 5s linear infinite normal;}
.illegal-rotation-2 {animation: bad-graphing 5s linear 0.5s infinite reverse;}
.illegal-rotation-1-sm {animation: bad-graphing-sm 2s linear infinite normal;}
.illegal-rotation-2-sm {animation: bad-graphing-sm 2s linear 0.25s infinite reverse;}

@keyframes bad-graphing {
  from {transform: rotateX(0deg); transform-origin: 250px 250px;}
  to {transform: rotateX(360deg); transform-origin: 250px 250px;}
}

@keyframes bad-graphing-sm {
  from {transform: rotateX(0deg); transform-origin: 25px 25px;}
  to {transform: rotateX(360deg); transform-origin: 25px 25px;}
}

.color-options {
  display: initial;
  width: 40px;
  height: 30px;
  background-color: #000;
  border: none;
  animation: nav-appear 1s;
}