/*SMALL SCREENS WORLD*/
@media all and (max-width: 635px) {
  .main-nav ul {padding: 1em 0 0; justify-content: space-around;}
  #logo {width: 75px; height: 75px;}
  .nav-icon-standard {display: none;}
  .nav-icon-mobile {display: initial;}
  
  .nav-flex .osc-sticker {display: none;}
  .nav-flex .osc-sticker-wide {display: block;}
  
  .nav-flex {
    width: 95%;
    min-width: 0;
	min-height: 20em;
    flex-flow: column nowrap;
    align-items: stretch;
  }
  
  .nav-flex-item {}
  .nav-flex-item a {padding: 2% 0;}
  
  .side-page-nav-flex {padding: 8em 0 0;}
  
  .splash-flex-standard {display: none;}
  .splash-flex-mobile {display: flex;}
  
  .flex-container {gap: 1%;}
  .tablet-of-truth {font-size: 0.75em;}
  
  .radial-container {width: 375px; height: 375px;}
  .radial {width: 375px; height: 375px;}
  #S {width: 125px; height: 175px; top: 40%; left: 5%;}
}

/*SMALLER SCREENS WORLD*/
@media all and (max-width: 400px) {
  .tablet-of-truth {font-size: 0.625em;}
}

/*BOX MODE FOR BOX MODERS!*/
@media all and (max-height: 450px) {
  .side-page-nav-flex {flex-flow: column wrap; justify-content: flex-start;}
  .side-page-sticker {display: block;}
  .side-page-sticker-wide {display: none;}
}

/*consider giving a shit about prefers-reduced-motion*/