/*HARMONIC OSCILLATOR DEFAULT MEDIA QUERIES*/
/*MNO*/

/*SMALL SCREENS*/
@media all and (max-width: 635px) {
  .main-nav ul {padding: 1em 0 0; justify-content: space-around;}
  #logo {width: 75px; height: 75px;}
  .nav-icon-standard {display: none;}
  .nav-icon-mobile {display: initial;}
  
  .nav-icon {opacity: 100%;}
  .nav-icon:hover polygon {stroke: #600040;}
  .nav-icon:active polygon {stroke: #FFF;}

  .splash-nav-flex .osc-sticker {display: none;}
  .splash-nav-flex .osc-sticker-wide {display: block;}
  
  .splash-nav-flex {
    width: 95%;
    min-width: 0;
	min-height: 20em;
    margin: 5% auto 0;
    flex-flow: column nowrap;
    align-items: stretch;
  }
  
  .side-page-nav-flex {min-height: 20em;}
  
  .nav-flex-item {}
  .nav-flex-item a {padding: 2% 0;}
  
  .splash-flex-standard {display: none;}
  .splash-flex-mobile {display: flex;}
  
  .radial-container {width: 250px; height: 250px;}
  .radial {width: 250px; height: 250px;}
  #R {width: 175px; height: 175px;}
}

/*SMALL SCREENS BOX MODE*/
@media all and (max-width: 635px) and (max-height: 460px) {
  .splash-nav-flex {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
	width: 220px;
	min-height: 0;
    height: 160px;    
  }

  .splash-nav-flex .osc-sticker {display: block;}
  .splash-nav-flex .osc-sticker-wide {display: none;}

  .side-page-nav-flex {
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
	width: 220px;
	min-height: 0;
    height: 160px;
  }
  
  .side-page-sticker {display: block;}
  .side-page-sticker-wide {display: none;}
  
  .nav-flex-item {flex: 0 1 auto;}  
}
/*STANDARD BOX MODE*/
@media all and (min-width:635px) and (max-width: 1100px) {
	.splash-nav-flex {padding: 2% 0 0 0; transition: padding 0.5s linear;}
}

/*BLINKER EXCEPTIONS*/
@media all and (max-width: 450px) and (max-height: 600px) {
  #splash-flex-img-2-mobile {display: none;}
}

/*GIGATUBE MOBILE*/
@media all and (max-height: 290px) {
  .splash-nav-flex {
    width: 100%;
    height: 90px;
	flex-flow: row nowrap;
  }
  
  .side-page-nav-flex {
    width: 100%;
	max-width: 60em;
    height: 90px;
    margin: 1% auto 0;
  }

  .splash-flex-standard {display: none;} /*ADD A BACKGROUND CLOUD!!!!!!!!!!!!!!!!!!*/
  #splash-flex-img-2-mobile {display: none;}
}

/*GIGATUBE STANDARD*/
@media all and (min-width: 636px) and (max-height: 290px) {
  .splash-nav-flex {
	margin: 2em auto 0;
    gap: 5vw;
  }
  
  .nav-flex-item {flex: 0 1 auto;}  
}

/*consider giving a shit about prefers-reduced-motion*/